<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= employee.birthdate %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= employee.rg %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= employee.address.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= employee.address.number %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= employee.address.complement %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= employee.address.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= employee.address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= employee.address.state %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= employee.address.cep %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position.name %>
  </p>

  <p>
    <strong>Hire date:</strong>
    <%= employee.hire_date %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= employee.status %>
  </p>

</div>
