<div id="<%= dom_id position %>">
  <p>
    <strong>Name:</strong>
    <%= position.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= position.description %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= position.department_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= position.level %>
  </p>

  <p>
    <strong>Base salary:</strong>
    <%= position.base_salary %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= position.requirements %>
  </p>

  <p>
    <strong>Benefits:</strong>
    <%= position.benefits %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= position.status %>
  </p>

</div>
