<% if (n = notice).present? %><p class="alert alert-warning"><%= n %></p><% end %>

<h1>
  Usuários
  &nbsp;
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Nível de Acesso</th>
      <th>Departamentos</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
        <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><% if user.access_level == "admin" %>
                <%= "Admin" %>
            <% else %>
                <%= "Gestor de RH" %>
            <% end %></td>
        <td><% if user.access_level == "admin" %>
                <%= "Acesso à todos" %>
            <% else %>
                <%= user.departments.map(&:name).join(', ') %>
            <% end %>
        </td>
        <td nowrap>
            <%= form_with model: user, method: :delete, data: { turbo_confirm: 'Você tem certeza de que deseja remover este usuário?' }, class: 'inline-form delete-form' do %>
            <button class="btn btn-sm btn-danger" type="submit">
                <i class="fa fa-trash"></i> Remover
            </button>
            <% end %>
        </td>
        </tr>
    <% end %>
    </tbody>
</table>
