<div id="<%= dom_id department %>">
  <p>
    <strong>Code:</strong>
    <%= department.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= department.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= department.location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= department.status %>
  </p>

</div>
